In [1]:
%load_ext lab_black
%config Completer.use_jedi = False
import pandas as pd
from Grid_Tuning_arithmetic import grid_trading, speedy_grid_trading
from tqdm import tqdm
import time

In [6]:
%%time

FILENAME = "Binance_BTC_1m.csv"
data = pd.read_csv(FILENAME)
optimization_arithmetic=[]
for interval_for_bounds in tqdm(range(5,20)):
    for sd in range(2,5):
        records_df, final_profit = speedy_grid_trading(
            data, INTERVAL_FOR_BOUNDS=interval_for_bounds * 24 * 60, SD_PARAMETER=sd,
        )
        optimization_arithmetic.append([final_profit, "", interval_for_bounds, sd])

100%|█████████████████████████████████████████████████████████████████████████████████| 15/15 [25:49<00:00, 103.30s/it]

Wall time: 25min 50s

In [19]:
data

,Unnamed: 0,TimeStamp,Open,High,Low,Close,Volume,boll_upper,boll_lower
0,517,2020/11/19 10:00,17855.50,17939.55,17854.26,17907.59,414.673918,NaN,NaN
1,518,2020/11/19 10:01,17907.59,17941.59,17891.30,17923.53,173.585510,NaN,NaN
2,519,2020/11/19 10:02,17923.53,17944.69,17910.50,17926.59,112.092070,NaN,NaN
3,520,2020/11/19 10:03,17926.59,17937.26,17915.50,17919.95,72.432187,NaN,NaN
4,521,2020/11/19 10:04,17919.96,17926.86,17892.96,17924.51,138.997232,NaN,NaN
...,...,...,...,...,...,...,...,...,...
247336,245799,2021/5/9 9:55,59036.20,59059.18,59029.48,59053.52,21.634121,61137.485807,52770.861554
247337,245800,2021/5/9 9:56,59053.52,59086.21,59031.07,59031.08,33.719035,61138.365819,52770.897017
247338,245801,2021/5/9 9:57,59031.08,59057.70,59028.00,59051.93,30.339184,61139.261145,52770.923060
247339,245802,2021/5/9 9:58,59051.93,59132.76,59046.10,59112.66,43.712205,61140.203211,52770.918956
247340,245803,2021/5/9 9:59,59103.93,59132.93,59067.35,59126.14,35.714933,61141.142892,52770.935783

In [20]:
def get_grid_arithmetic(lower_bound, upper_bound, rsv):
    if rsv != 1:
        lower_grid = (upper_bound - lower_bound) * (1 - rsv) / 5
        upper_grid = rsv / (1 - rsv) * lower_grid
    else:
        lower_grid = upper_grid = (upper_bound - lower_bound) / 10
    return lower_grid, upper_grid


get_grid_arithmetic(1000, 2000, 0.8)

(39.999999999999986, 159.99999999999997)

In [18]:
# optimization=[]
# for interval_for_rsv in tqdm(range(10, 60)):
#     for interval_for_bounds in range(2, 20):
#         for sd_parameter in range(2,5):
#             records_df, final_profit = grid_trading(
#                 data, INTERVALS_FOR_RSV=interval_for_rsv, INTERVAL_FOR_BOUNDS=interval_for_bounds * 24 * 60, SD_PARAMETER=sd_parameter,
#             )
#             optimization.append([final_profit, interval_for_rsv, interval_for_bounds, sd_parameter])
#             print(time.ctime())

In [7]:
optimization_df = pd.DataFrame(
    optimization_arithmetic,
    columns=["FinalProfit", "IntervalForRSV", "IntervalForBounds", "SDParameter",],
)

In [17]:
optimization_df.to_excel("Training_ArithmeticSequence.xlsx")
# optimization_df = pd.read_excel("Training.xlsx")
optimization_df

    FinalProfit IntervalForRSV  IntervalForBounds  SDParameter
0        179241                                 5            2
1        214681                                 5            3
2        151395                                 5            4
3        172191                                 6            2
4        148440                                 6            3
5        157398                                 6            4
6        166943                                 7            2
7        197137                                 7            3
8        162886                                 7            4
9        193953                                 8            2
10       175958                                 8            3
11       194118                                 8            4
12       181445                                 9            2
13       184765                                 9            3
14       206426                                 9            4
15       179104                                10            2
16       170334                                10            3
17       210745                                10            4
18       167599                                11            2
19       165011                                11            3
20       174586                                11            4
21       159548                                12            2
22       167526                                12            3
23       166301                                12            4
24       170931                                13            2
25       171919                                13            3
26       177751                                13            4
27       175287                                14            2
28       171962                                14            3
29       185855                                14            4
30       164362                                15            2
31       165966                                15            3
32       180692                                15            4
33       205718                                16            2
34       159710                                16            3
35       204924                                16            4
36       204404                                17            2
37       154164                                17            3
38       197041                                17            4
39       159972                                18            2
40       159778                                18            3
41       208307                                18            4
42       146214                                19            2
43       171906                                19            3
44       184480                                19            4

In [9]:
df = optimization_df[
    optimization_df["FinalProfit"] == optimization_df["FinalProfit"].max()
]
SDParameter = df["SDParameter"].unique()
IntervalForBounds = df["IntervalForBounds"].unique()
IntervalForRSV = df["IntervalForRSV"].unique()
FinalProfit = df["FinalProfit"].unique()

In [10]:
SDParameter

array([3], dtype=int64)

In [11]:
IntervalForBounds

array([5], dtype=int64)

In [12]:
IntervalForRSV

array([''], dtype=object)

In [13]:
FinalProfit

array([214681], dtype=int64)

In [2]:
from Grid_Tuning_arithmetic import grid_trading, speedy_grid_trading

FILENAME = "Decreasing_Data.csv"
data = pd.read_csv(FILENAME)
records_df, final_profit = speedy_grid_trading(
    data, INTERVAL_FOR_BOUNDS=5 * 24 * 60, SD_PARAMETER=3,
)
records_df["Hour"] = pd.to_datetime(records_df["Hour"])
records_df

,Action,Price,n,Cash,Profit,LowerBound,UpperBound,Grid,Hour
0,Buying,47173,2.0,5654,-94346,41701.016990,62895.285416,2119.426843,2021-02-26 12:51:00
1,Selling,50317,0.0,106288,6288,40751.151882,62578.887935,2182.773605,2021-02-26 01:00:00

In [3]:
import numpy as np

# records_df = records_df.sort_values(by="Hour", ascending=True)
records_df["TransactionInterval"] = records_df["Hour"].diff()
records_df = records_df.dropna()
records_df.loc[:, "TransactionInterval"] = records_df["TransactionInterval"].apply(
    lambda x: x.seconds
)
records_df

C:\Users\bizjun\Anaconda3\envs\AlgoTrading\lib\site-packages\pandas\core\indexing.py:1676: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

,Action,Price,n,Cash,Profit,LowerBound,UpperBound,Grid,Hour,TransactionInterval
1,Selling,50317,0.0,106288,6288,40751.151882,62578.887935,2182.773605,2021-02-26 01:00:00,43740

In [4]:
# records_df.to_excel("TransactionHistory_ArithmeticSequence.xlsx")