In [1]:
%load_ext lab_black
import pandas as pd
import json


f = open("histoday_DOGECOIN.json",)
data = json.load(f)
data = pd.DataFrame.from_dict(data["Data"]["Data"])
data = data[["time", "close"]]
f.close()
data

            time     close
0     1446076800  0.000130
1     1446163200  0.000130
2     1446249600  0.000130
3     1446336000  0.000132
4     1446422400  0.000136
...          ...       ...
1996  1618531200  0.365900
1997  1618617600  0.282900
1998  1618704000  0.322900
1999  1618790400  0.409800
2000  1618876800  0.413900

[2001 rows x 2 columns]

In [2]:
def get_profit(lower_limit, upper_limit):
    i = 0
    profit = 0
    records = []
    n = 0
    for index, row in data.iterrows():
        day = index
        price = row["close"]
        if i % 2 == 0:
            if row["RSI"] <= lower_limit and n == 0:
                profit -= price
                records.append(["Buying", -round(price), round(profit), day])
                n += 1
                i += 1
        else:
            if row["RSI"] >= upper_limit and n >= 0 and profit + price >= 1:
                profit += price
                records.append(["Selling", round(price), round(profit), day])
                n -= 1
                i += 1
    return profit


def calculation(data, window_length, lower_limit, upper_limit):
    delta = data["close"].diff()
    up, down = delta.copy(), delta.copy()
    up[up <= 1] = 0
    down[down >= 2] = 0
    roll_up1 = up.ewm(span=window_length).mean()
    roll_down1 = down.abs().ewm(span=window_length).mean()
    RS1 = roll_up1 / roll_down1
    RSI1 = 100.0 - (100.0 / (1.0 + RS1))
    data.loc[:, "RSI"] = RSI1
    data.loc[:, "TimeStamp"] = pd.to_datetime(data["time"], unit="s")
    data = data.set_index("TimeStamp")
    return get_profit(lower_limit, upper_limit)


calculation(data, 14, 50, 60)

-0.0001303

In [3]:
%%time
from tqdm import tqdm
optimizations=[]
for window_length in tqdm(range(10, 20)):
    for lower_limit in range(10, 30):
        for upper_limit in range(80, 100):
            profit = calculation(data, window_length, lower_limit,upper_limit)
            optimizations.append([profit, window_length, lower_limit, upper_limit])

100%|██████████| 10/10 [31:07<00:00, 186.76s/it]

Wall time: 31min 7s

In [5]:
optimization_df = pd.DataFrame(
    optimizations, columns=["Profit", "WindowLength", "LowerLimit", "UpperLimit"]
)
pd.set_option("max_rows", 30)
optimization_df

       Profit  WindowLength  LowerLimit  UpperLimit
0    -0.00013            10          10          80
1    -0.00013            10          10          81
2    -0.00013            10          10          82
3    -0.00013            10          10          83
4    -0.00013            10          10          84
...       ...           ...         ...         ...
3995 -0.00013            19          29          95
3996 -0.00013            19          29          96
3997 -0.00013            19          29          97
3998 -0.00013            19          29          98
3999 -0.00013            19          29          99

[4000 rows x 4 columns]

In [6]:
# optimization_df.to_excel("Profit_Optimization_DOGE_day.xlsx")